.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.middleFingerButton {
  cursor: pointer;
  padding: 8px;
  border: 0;
  border-radius: 5px;
}

.middleFingerInputContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.middleFingerInputContainer label {
  color: gray;
}

.middleFingerInputContainer input {
  width: 55%;
}

.unable {
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: #ed5565;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connectWallet {
  margin-top: 16px;
}
